.card {
  display: block;
  padding: 1rem;
  border: 1px solid var(--divider-color);
  border-radius: 0.25rem;
  text-decoration: none;
  &:hover {
    background-color: var(--alt-background-color);
  }
}

.card-title {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
